@-webkit-keyframes nanobar-infinite {
  0 {
    width: 0;
    height: 100%;
  }
  86% {
    width: 80%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 0;
  }
}

@keyframes nanobar-infinite {
  0 {
    width: 0;
    height: 100%;
  }
  86% {
    width: 80%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 0;
  }
}

#nanobar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: rgba(0,0,0,0.02);
  clear: both;
}
#nanobar .nanobar-progress {
  background: rgba(0,0,0,0.96);
  box-shadow: 0 0 18px rgba(255,255,255,0.6);
  height: 100%;
  width: 0;
  -webkit-transition: width .3s linear, height .1s linear .2s;
  transition: width .3s linear, height .1s linear .2s;
}
#nanobar .nanobar-progress-infinite {
  -webkit-animation: nanobar-infinite 2s infinite linear;
  animation: nanobar-infinite 2s infinite linear;
}
